
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/img/SaesSUBE2.png" alt="" width="92" height="92">
    <h1 class="display-5 fw-bold text-body-emphasis">Control de Equipos</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Aplicación para el seguimiento de fallas y envíos a reparación de equipos SUBE.</p>
      <p class="lead mb-4">Pablo Carril - Dto. SUBE - SAES Línea 85
        email: expendedoras85@gmail.com
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/" class="btn btn-primary btn-lg px-4 gap-3">Volver</a>
        <a href="/" class="btn btn-outline-secondary btn-lg px-4">Salir</a>
      </div>
    </div>
  </div>