<div class="Editor">
  <h3>Editar registro: </h3>
  <div>                    
    {{>formulario}}
  </div>
<button id="borrar" class="btn btn-danger text-white ms-4">Borrar</button>

</div>

<script>
  borrar = document.getElementById('borrar')
  borrar.addEventListener('click', () => {
    fetch('/validadores/delete/{{id}}', {    //antes: 'http://localhost:8091/api/validadores/{{id}}' PORQUE NO ANDA? con botones no quiere?
       method: 'DELETE',
       headers: {
         'Content-Type': 'application/json',
         // Puedes agregar más encabezados si es necesario
        },
       body: JSON.stringify({ id:'{{id}}'}),
      })
      .then(response => {
        if (!response.ok) {
          throw new Error(`Error de red - ${response.status}`);
        }
        return response.json();  // Si esperas una respuesta JSON el return es necesario para procesar el siguiente then
      })
      .then (msg => {console.log('Se eliminó el ID: {{id}}', msg)})  //muestro el mensaje en la consola del cliente
      .catch (err => {console.log('Ocurrió un error: ', err)})
  })
</script>

<style>
  .Editor {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  #formEntrada {
    min-width: 500px;
  }
  #eliminar {
      display: block; !important  /*NO puedo desocultar algo que no existe. ya no usaré mas el botón oculto*/
  }
</style>