<main class="container"></main>

  {{>contenedor}}   <!--todos los que se llamen de este modo deben encontrarse en partials-->
 <!-- <h5>Bienvenido {{fullname}}</h5>
  <p> Este es un ejemplo de MongoDB</p>
  -->
</main>

<!--
<script src="/socket.io/socket.io.js"></script>  <!--esta ruta es CREADA por Websocket. no existe, pero funciona y permite usar io()
<script src="index.js"></script>     <!-- este está en public y es el que llama a io()
-->