<div class="row mt-3">

  <div class="col-8 mx-auto"> 
    <h5>Notas: </h5>
    <table class="table table-bordered lh-1" style="font-size: 0.90rem;">
      <thead>
        <tr>
          <th class="col-1">Nota</th>
          <th class="col-1">Fecha</th>
          <th class="col-8">Anotaciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each notas}}
        <tr>
          <td class="fw-bold">{{this.nota}}</td>
          <td style="white-space: nowrap;">{{this.fecha}}</td>
          <td class="anotaciones">{{anotaciones}}</td>
          <td>
            <a href="notas/{{_id}}">check</a> 
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  

</div>

<style>
  .anotaciones {
    white-space: nowrap;     /* evita el salto de línea */
    text-overflow: ellipsis;  /* agrega puntos suspensivos... no funciona sin el nowrap */
    overflow-x: hidden;      /* oculta el texto que se desborda. con auto me agrega la barra de scroll */
    max-width: 800px;
  }
</style>
