@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400&display=swap');

* {
  font-family: 'Outfit';
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}


.ancho-fijo {
  width: 30%;
}

#logo {
  width: 30px;
  height: 30px;
}

/*
input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  */
