 <title>Busqueda</title>

<div class="m-3">
    <nav class="alert p-1 mb-0 bc-warning bg-light sticky-top">  <!--fixed-top y sticky-top suelen ser transparentes.hay que poner un color como bg-light -->
        <h5>Resultados de:  <span id="titulo" class="fw-bold text-danger"> </span> </h5>
    </nav>
        <div id="lista" class="col-12">
            <!--<button id="consultar" class="btn btn-primary text-white mb-3">Consultar</button> -->
            <table id="tabla" class="table table-bordered lh-1" style="font-size: 0.95rem;">
              <thead>
                <tr>
                  <th class="col-1">Serie</th>
                  <th class="col-2">Fecha</th>
                  <th class="col-1">Linea</th>
                  <th class="col-1">Coche</th>
                  <th class="col-5">Problema</th>
                  <th class="col-2">Caso</th>
                  <th class="col-1">Entregado</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Las filas se agregarán aquí mediante JavaScript -->
                </tbody>
              </table>
        </div>
    
     <script src="../src/luxon.min.js"></script>
    <!--<script type="module" src="./busqueda.js"></script>  -->
</div>