<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3 fixed-top">
    <div class="container-fluid d-flex justify-content-start">

      <div class="d-flex align-items-center"> <!--class="navbar-header col-3" style="flex-wrap: nowrap;"-->
        <img src="/img/SaesSUBE2.png" alt="Logo" class="img-fluid" id="logo">
        <a class="navbar-brand ms-2" href="/" id="titulo">Control de EQUIPOS</a>
      </div>

      <ul class="navbar-nav flex-row ms-4">
        <li class="nav-item"> 
          <a class="nav-link  reset" href="/ultimos">Ultimos</a> <!--colocar el active en el que se seleccione-->
        </li>
        <li class="nav-item"> 
          <a class="nav-link  ms-3" href="/sonda">Sonda</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link  ms-3" href="/laplata">La Plata</a>
        </li>
         <li class="nav-item"> 
          <a class="nav-link  ms-3" href="/notas">Notas</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link  ms-3" href="/ayuda">Ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link ms-3 " href="/about" id="Acerca_de">Acerca de</a>
          <!-- debería seguir viéndose el nav -->
        </li>
      </ul>
      <form action="/busqueda" method="GET" class="d-flex ms-4 me-auto" role="search">
        <input name="datosBuscar" class="form-control ms-4 me-2" type="search" placeholder="Problema/Caso/Coche/etc.."
          aria-label="Buscar" id="buscarInput" style="max-width: 195px;">
        <button type="submit" class="btn btn-outline-light">Buscar</button>
      </form>

    </div>
  </nav>
</header>

<style>
  .resaltado {
    border-radius: 8px;
    background-color: #5195fb; //#0056d6;  
  }

  .nav-link {
    white-space: nowrap;
  }
  
</style>

<script>
  // Agregar la clase 'active' al enlace actual
    document.addEventListener('DOMContentLoaded', () => {
      const currentPath = window.location.pathname;
      document.querySelectorAll('.navbar-nav .nav-link').forEach(link => {
        if (link.getAttribute('href') === currentPath) {
          link.classList.add('active');
          link.classList.add('resaltado');
        }
      });
    });
  // const reset = document.querySelectorAll('.reset') my-2 my-sm-0
  // reset.forEach(link => {
  // link.addEventListener('click', (event) => {
  //   document.getElementById("formEntrada").reset()
  //  })
  // })
  /* document.addEventListener('DOMContentLoaded', () => {  //FUNCIONA! pero no si viene de otra página...tal vez en un nivel superior como main
    const lastRouteLink = document.querySelector('.nav-link');
    const spinnerContainer = document.querySelector('.spinner-container');
    lastRouteLink.addEventListener('click', (event)=> {
    event.preventDefault();
    const route = event.target.href;
    spinnerContainer.classList.remove('escondido') // Muestra el Spinner. cuando se actualize la página se oculta solo.
    window.location.href = route
    })
  }) */

</script>