<title>Confirme la operación: </title>

<body>
  <!-- Contenedor del cuadro de diálogo -->
  <div id="popup" class="popup">
    <div class="popup-contenido">
     <!-- <span class="cerrar" onclick="cerrarPopup()">&times;</span> -->
      <h2>Confirmar operación:</h2>
      <p>¿Estás seguro de que deseas borrar este documento?</p>
      <button onclick="confirmarBorrado()" class="btn btn-danger text-white me-4">Borrar</button>
      <button onclick="cerrarPopup()" class="btn btn-primary text-white ms-4">Cancelar</button>
    </div>
  </div>

  <script>
    let popupPromiseResolve;
    function mostrarPopup() {
      const popup = document.getElementById('popup');
      popup.style.display = 'block';
      // Crear una nueva promesa
      const promise = new Promise((resolve) => {
        popupPromiseResolve = resolve;
      });
      // Esperar hasta que el usuario pulse un botón
      promise.then((result) => {
        // Ocultar el popup después de que el usuario haya pulsado un botón
        popup.style.display = 'none';
        if (result) {
          console.log('Borrado confirmado');
          // Aquí puedes agregar la lógica para borrar
        } else {
          console.log('Borrado cancelado');
        }
      });
    }
    function resolvePromise(result) {
      popupPromiseResolve(result);
    }

    // Función para cerrar el cuadro de diálogo
    function cerrarPopup() {
      document.getElementById('popup').style.display = 'none';
    }

    // Función para confirmar el borrado
    // function confirmarBorrado() {    //LA MANEJAMOS ahora DESDE formEdit
  </script>

</body>
<style>
  /* Estilos del cuadro de diálogo */
  .popup {
    display: none;
    /* Ocultar el cuadro de diálogo por defecto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    /* Fondo oscuro semi-transparente */
  }

  .popup-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
  }

 
  .cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .cerrar:hover,
  .cerrar:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

</html>