<div class="row">

  <div id="lista" class="col-6">
    <h5>Ultimos Validadores:  <span id="titulo" class="fw-bold text-danger"> </span> </h5>
    <!--<button id="consultar" class="btn btn-primary text-white mb-3">Consultar</button> -->
    <table id="tablaValidador" class="table table-bordered lh-1" style="font-size: 0.95rem;">
      <thead>
        <tr>
          <th class="col-1">Serie</th>
          <th class="col-1">Fecha</th>
          <th class="col-1">Linea</th>
          <th class="col-1">Coche</th>
          <th class="col-6">Problema</th>
          <th class="col-1">Caso</th>
          <th class="col-1">Entregado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Las filas se agregarán aquí mediante JavaScript -->
      </tbody>
    </table>
  </div>

  <div id="lista" class="col-6">
    <h5>Ultimos Teclados:  <span id="titulo" class="fw-bold text-danger"> </span> </h5>
    <!--<button id="consultar" class="btn btn-primary text-white mb-3">Consultar</button> -->
    <table id="tablaTeclado" class="table table-bordered lh-1" style="font-size: 0.95rem;">
      <thead>
        <tr>
          <th class="col-1">Serie</th>
          <th class="col-2">Fecha</th>
          <th class="col-1">Linea</th>
          <th class="col-1">Coche</th>
          <th class="col-5">Problema</th>
          <th class="col-2">Caso</th>
          <th class="col-1">Entregado</th>
        </tr>
      </thead>
      <tbody>
        <!-- Las filas se agregarán aquí mediante JavaScript -->
      </tbody>
    </table>
  </div>
  
</div>